@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
font-family: 'Poppins';
margin: 0;
padding: 0;
}

main {
    padding: 20px;
    overflow: auto;
}
nav {
    /* background-color: #00a2c6; */
    padding: 5px;
    position: sticky;
    top: 0;
}

.btn {
    width: 100px ;
    background-color: #00a2c6;
    font-size: 17px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    border: 2px solid #131418;
    justify-content: center;
}

.btn:hover {
    background-color: azure;
}

p{
    margin-top: 10px;
    font-size: 18px;
}

.banner {
    position: relative;
    min-height: 100vh;
    background: url(../image/welcomeBandung.jpg);
    background-size: cover;
    background-position: right;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 100px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.5s;
}

.heading {
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    color: #111;
}

nav a{
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
h2, h3 {
    color: #00a2c6; 
    color: hsla(104, 82%, 50%, );
}

.profile header {
    text-align: center;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

header.nav {
    background: #fff;
    padding: 20px 100px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    position: relative;
    list-style: none;
}

header ul li a {
    position: relative;
    display: inline-block;
    margin: 0 15px;
    color: black;
    text-decoration: none;;
    font-size: 22px;

}

header.nav ul li a {
    color: #111;
}

header .logo {
    color: black;
    font-size: 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    letter-spacing: 2px;
}

header.nav .logo {
    color: #111;
}

.card{
    box-shadow: 2px 4px 8px 2px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 83px;
}

.content {
    display: flex;
    justify-content: space-between;
}

img {
    width: 250px;
    height: 250px;
    object-fit: contain;
    min-width: 100%;
}

.cardPhoto {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    display: flex;
    margin-bottom: 3px;
    justify-content: center;
}


.card-img {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    padding: 20px;
    margin-top: 20px;
}

w50 {
    min-width: 50%;
}
#penulis{
    margin-top: 30px;
    display: none;
    text-align: center;
    font-size: 16px;
    padding: 5px;
    border: 2px solid black;
}

aside {
    width: 25%;
    padding-left: 20px;
}
.boxTentang{
    justify-content: center;
    margin: 0 auto;
    display: flex;
}

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

.social{
    height: 30px    ;
}

.social a{
    color: white;
    font-size: 20px;
    margin:0 15px;
    transition: all ease 0.3s;
    text-decoration: none;
}


.social a:hover{
    transition: all ease 0.3s;
    opacity: 0.5;
}

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
    text-align: center;
    font-weight: bold;
}

footer p {
    line-height: 20px;
    margin-top: 20px;
    font-size: 16px;
}

/*Responsive*/

@media (max-width: 991px) {

    header,
    header.nav {
        padding: 20px 50px;
        z-index: 1000;
    }

    section {
        padding: 10px 50px;
    }

    .banner {
        padding: 150px 50px 100px;
    }

    .menu {
        position: fixed;
        top: 75px;
        left: -100%;
        display: block;
        padding: 100px 50px;
        text-align: center;
        width: 100%;
        height: 100vh;
        background: #fff;
        transition: 0.5s;
        z-index: 999;
        border-top: 1px solid rgba(0, 0, 0, 0.2);
    }

    .menu.active {
        left: 0;
    }

    header ul li a {
        color: #fff;
        font-size: 25px;
        margin: 10px;

    }

    .toggle {
        width: 40px;
        height: 40px;
        background: url(../image/menu.png);
        background-position: right;
        background-repeat: no-repeat;
        background-size: 30px;
        cursor: pointer;
    }


    .toggle.active {
        background: url(../image/close.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 25px;
        cursor: pointer;
    }

    header.nav .toggle {
        filter: invert(1);
    }

    .heading h2 {
        font-size: 25px;
    }

    .contentBox h3 {
        font-size: 20px;
    }

    .content {
        flex-direction: column;
    }

    .w50 {
        margin-bottom: 20px;
    }
    

}